* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    text-align: center;
    background-color: #c0ecfbbe;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 15px;
}

header h1 {
    background-color: #0e0ed3;
    width: 200px;
    margin: auto;
    padding: 8px;
    border-radius: 25px;
    box-shadow: 1px 2px 4px #00000088;
    color: #e2d3d3;
    text-shadow: 2px 2px 1px #00000088;
}

form {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 15px;
    width: 400px;
    box-shadow: 1px 1px 1px #00000088;
    background-color: #eff3f4;
}

input#campa,
input#campb {
    margin: 15px 0px 10px 5px;
    box-shadow: 1px 1px 1px #00000088;
    border: 1px solid black;
    outline: 0px;
    padding: 5px;
}

label {
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 0px 0px 1px #00000088;
}

input#botao {
    margin-top: 15px;
    background-color: #018201;
    color: #ffffff;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px #00000088;
    text-shadow: 1px 1px 1px #00000088;
    font-weight: bold;
    cursor: pointer;
}

input#botao:hover {
    background-color: #00de00;
}

input#botao:active {
    width: 70px;
    height: 25px;
}

div#res {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: red;
    padding: 15px;
}

div#formvalido {
    color: green;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    padding: 15px;
    text-shadow: 0px 1px 1px #00000088;
}

div#val {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 25px;
    padding: 5px;
    width: 300px;
    box-shadow: 1px 1px 10px rgba(1, 253, 1, 0.632);
    text-shadow: 1px 1px 1px #00000088;
    text-shadow: 1px 1px 1px #00000088;
}


